/* TODO:  *//* REVIEW:  *//* FIXME:  *//* SECTION:  *//* STUB:  *//* ANCHOR:  */
/* NOTE:  *//* *: *//* !: *//* ?: */

*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    width: 100vw; height: 100vh; /* NOTE:  */
    border: 2px solid black; /* NOTE:  */
    font-family: sans-serif; /* NOTE:  */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#content {
    border: 2px solid black;
}