/* TODO:  *//* REVIEW:  *//* FIXME:  *//* SECTION:  *//* STUB:  *//* ANCHOR:  */
/* NOTE:  *//* *: *//* !: *//* ?: */

*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body {
    width: 100%; height: 100%; /* NOTE:  */
    border: 2px solid black; /* NOTE:  */
    font-family: sans-serif; /* NOTE:  */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


main.home-page {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

a i {
    text-align: center;
    color: #333;
}

a i:hover {
    color: #6e5494;
}
a i:active {
    color: #333;
}

legend {
    text-align: center;
}


.survey-info {
    text-align: center;
}

/*  */

.btn {
    cursor: pointer;
    display: block;
    text-align: center;
    border: 2px solid lightgray;
    background: gray;
    border-radius: 0.5em;
    margin: 0 auto;
    padding: 10px;
}

.btn:hover {
    border: 2px solid lightslategray;
    background: slategray;
    color: whitesmoke;
}

.btn:action {
    border: 2px solid darkgray;
    background: gray;
}

.home-page a {
    font-size: 50px;
}

label {
    padding: 0 15px;
}



#content {
    border: 2px solid black;
}

.finder-results {
    text-align: center;
    border: 2px solid gray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}